@charset "UTF-8";

#bookLent{
   margin:110px auto 100px auto;
   width:1280px;
   height:700px;
}

#bookslot{
	width:250px;
	height:330px;
	float:left;
	
}
#bookslot1{
	float:left;

}	
#Book{
	width:500px;
	height:660px;
	
	float:left;
	margin:0px 0px 0px 0px;
	border:solid 0px green;
	
}

#Book .booklent{
	
	width:180px;
	height:230px;
	margin:10px 35px 10px 35px;
}
#bookExplain{
	width:220px;
	height:100px;
	margin:10px 15px 0px 15px;
	border:solid 1px green;
}
#bookheader{
	padding-top: 180px;
	margin-right: -500px;
}
#bookheaderTitle{
	font-size: 30px;
	margin-bottom:20px;
	
}
#bookheadermentTitle{
	margin-top:50px;
	
}
#bookheaderment{
	font-size: 18px;
	padding-top: 15px;
	font-family: 'GmarketSans';
    url: ('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
    font-weight: 500;
}



