 @charset "UTF-8";

* *{margin:0; padding:0}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('http://pop.baemin.com/fonts/dohyeon/BMDOHYEON_ttf.ttf');
}	
body{
	background-image:url(../lib/bgPattern.PNG);
	background-size:50%;
	background-repeat:repeat;
}
#wrap{
   font-family: 'BMDOHYEON';
   background:#f5f6f7;
   margin:0px auto;
   border:solid 0.1px white;
   height:100%;
   text-align:center;
   
}

#headerBox{
   margin:0px auto;
   position:fixed;
   width:800px;
   height:100px;
   border:solid 0px white;
   text-align:center;
   background:white;
}

#slideshow{
   margin: 120px auto 50px auto;
   width:1280px;
   position:relative;
   height:580px;
   
}
#tab{
   margin:0px auto;
   width:800px;
   height:150px;
   border:solid 1px black;
   
}

#mainmentback{
	background-color: rgb(226, 223, 220) ;
	height:800px;
}
#ourment{
	width: 1280px;
    margin: 200px auto 0px auto;
    text-align: left;
}
#mainment{
	font-size:40px;
	margin-top: 15px;
	margin-left: 25px;
    padding-top: 250px;
}
#mainmenttitle{
	font-size: 90px;	
	font-family: 'GmarketSans';
	url:('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
	font-weight: lighter;
	margin-top: 40px;
	margin-left: 70px;
	letter-spacing: -2.4px;
}
#mainsubment{
	font-size:21px;
	margin-left:74px;	
	margin-top: 30px;
    line-height: 1.8;
    font-family: 'GmarketSans';
	url:('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
	font-weight: 500;
}
#mentimgdata{
    float: right;
    margin-top: -230px;
    margin-right: 100px;
}
#mentimgjava{
    float: right;
    margin-top: -350px;
    margin-right: -80px;
}
img#mentbooklist{
	width:220px;
	height:280px;
	border: 1px solid rgb(226, 223, 220);
    border-radius: 20%	
}
 