 @charset "UTF-8";
#listHeader {
	margin: 0px auto;
	width: 1000px;
	height: 50px;
	line-height: 50px;
}
#newbookslideDiv{
	margin:0 auto;
	width:1280px;
}
#listBook{
 	margin: 0px auto 0px auto;
    padding-left: 210px;
    padding-top: 50px;

    height: 520px;
    text-align: center;
    overflow: hidden;
}
#newbookslide{
	height:800px;
	background-color:rgb(226,223,220);
}
#newbookmaindiv{
	padding-top:150px;
    flex-direction: row;
}

#pNButtonBox {
	position: absolute;
	z-index: 10;
	width: 800px;
}

#pButton {
	position: absolute;
	top: 250px;
	left: 85%;
	opacity: 0.8;
	cursor: pointer;
}

#nButton {
	position: absolute;
	top: 250px;
	right: 92%;
	opacity: 0.8;
	cursor: pointer;
}

#listPanel {
	position: relative;
	width: 2000px;
	height: 480px;
}

#bookSlide {
	float: left;
	width: 1000px;
	height: 360px;
}

#newBook {
	width: 1000px;
	height: 480px;
}

.listB {
	width: 250px;
	height: 360px;
	float: left;
}

.booklist {
	width: 150px;
	height: 200px;
	margin: 30px 35px 10px 35px;
	line-height: 1.2;
}

#listExplain {
	width: 230px;
	height: 70px;
	font-size: 15px;
	color: rgb(40, 40, 40);
	display: inline-block;
}

#listExplain p {
	width: 200px;
	margin: 10px;
	color: rgba(110, 70, 40, 0.8);
	font-size: 14px;
	text-align: center;
}

#listExplain h1 {
	width: 200px;
	text-align: center;
	margin-top: 10px;
}

.prtext h1{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#newbookmainTitle{
    width: 800px;
    margin: 0 auto;
    text-align: left;
    padding-top:300px;
}
#newbookmainTitle123{
	font-size:30px;
	
}
#newbookmainTitle456{
	font-size:18px;
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: 'GmarketSans';
    url: ('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
    font-weight: 500;
}
#k2l3j4{
	height:150%;
    width:65%;
    background-color: rgb(174, 165, 157);
    border: none;
    color:#fff;
    font-size: 18px;
    outline:none;
    border-radius: 12px;
    cursor: pointer;
}
/* mypageimagesec */
#k32hbi{
	width:1280px;
	margin:0 auto;
}
#kh12jn{
	width: 500px;
	text-align:right;
	padding-top:250px;
}
#ljn21j{
	font-size:30px;
}
#k1jn4{
	padding-top:40px;
	font-size:18px;
	font-family: 'GmarketSans';
    url: ('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
    font-weight: 500;
}
#k12jnoh{
	padding-top:15px;
	font-size:18px;
	font-family: 'GmarketSans';
    url: ('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
    font-weight: 500;
}